                            /* кольори */
:root {
    --logo-text-color: #4D5AE5;
    --title-text-color: #2E2F42;
    --text-color: #434455;
    --hero-text-color: #FFFFFF;
    --footer-logo-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --hover-text-color: #FFFFFF;

    --primary-background: #FFFFFF;
    --button-hero-background: #4D5AE5;
    --secondary-background: #F4F4FD;
    --footer-background: #2E2F42;
    --hover-background: #404BBF;
}
                            /* додадково */
.list {
    padding: 0;
    margin: 0;

    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
                            /* --- --- */
                            /* класи */
                            /* --- header --- */
body {
    background-color: var(--primary-background);
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
}
.ul-content {
    display: flex;
    align-items:center;
    gap: 40px;
}
.logo {
    color: var(--logo-text-color);
    
}
.logo-header {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;

    color: var(--title-text-color);
    font-family: 'Raleway', 'sans-serif';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.item {
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address {
    margin-left: auto;
}
.address-link {
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--logo-text-color)
}
                            /* ---   --- */
                            /* --- main --- */
.hero {
    text-align: center;

    background-color: var(--footer-background);
}
.hero-title {
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 48px;
    max-width: 494px;

    color: var(--hero-text-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.primary-button {
    margin-bottom: 188px;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    border: 1px solid var(--button-hero-background);

    color: var(--hero-text-color);
    background-color: var(--button-hero-background);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
}
.secondary-button {
    padding: 12px 24px;
    border-radius: 4px;
    min-width: 69px;
    border: 1px solid transparent;

    color: var(--logo-text-color);
    background-color: var(--secondary-background);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
}
.secondary-button:hover,
.secondary-button:focus {
    color: var(--hover-text-color);
    background-color: var(--hover-background);
}
.primary-section {
    background-color: var(--primary-background);
}
.ul-main {
    display: flex;
    align-items:center;
    gap: 24px;
    padding-bottom: 120px;
}
.secondary-section {
    background-color: var(--secondary-background);
}
.section-title {
    margin-top: 0;
    margin-bottom: 72px;
    text-align: center;

    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
} 
.section-suptext {
    margin-top: 120px;
    margin-bottom: 8px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-text {
    margin-top: 0;
    margin-bottom: 0px;
    max-width: 264px;

    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team{
    padding-top: 120px;
}
.ul-team {
    display: flex;
    align-items:center;
    gap: 24px;
    text-align: center;
    width: calc((100% - 72px) / 4);
    padding-bottom: 120px;
}
.section-ultext {
    margin-top: 32px;
    margin-bottom: 8px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
                            /* --- portfolio --- */
.navi-btn {
padding-top: 96px;
margin-bottom: 72px;
display: flex;
justify-content: center;
gap: 24px;
}
.ul-portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    column-gap: 12px;
    row-gap: 24px;
    padding-bottom: 120px;
}
.pf {
    padding-left: 16px;
}
                            /* ---   --- */
                            /* --- footer --- */
.footer {
    background-color: var(--footer-background);
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-footer {
    color: var(--footer-logo-color);
    font-family: 'Raleway', 'sans-serif';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.footer-text {
    margin-top: 16px;
    max-width: 264px;
    
    color: var(--footer-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
                            /* ---   --- */
/* Avtark maid it */